html, body, #root {
  height: 100%;
  & * {
    transition:
            color .5s,
            border-bottom-color .5s,
            border-left-color .5s,
            border-top-color .5s,
            border-rightcolor .5s,
            background-color .5s;
  }
}

#root {
  display: flex;
  flex-direction: column;
}

table.table thead th {
    background-color: var(--season-accent) !important;
}

.bg-custom-accent {
  background-color: var(--season-accent);
}

.white-space-pre-line {
  white-space: pre-line;
}

.z-3 {
  z-index: 3 !important;
}

.z-5 {
  z-index: 5 !important;
}

.w-3 {
  width: 3rem !important;
}

.h-3 {
  height: 3rem !important;
}