.kt-button--accent {
  background-color: var(--kt-season-accent);
  border-color: var(--kt-season-accent);
  color: var(--bs-white);

  &:hover, &:focus {
    filter: brightness(0.92);
    color: var(--bs-white);
  }
}
